/* Styles de base pour la page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  section {
    height: 100vh;
    padding: 60px 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 2em;
  }
  
  /* Menu de navigation */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar ul li a:hover {
    background-color: #555;
    color: #fff;
  }
  
  Changer la couleur de la navbar lors du défilement */
  .scrolled {
    background-color: #000;
  }
  
  